* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #4365E2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #FFFAF4;
  overflow-x: hidden;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 360px;
  padding: 20px;
}

h1,
h2 {
  margin-bottom: 15px;
  font-weight: 400;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.link {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #DDD9D6;
  color: #4365E2;
  border: 1px solid #002147;
  border-radius: 6px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  font-size: 14px;
}

.link:hover {
  background-color: #f9f9f9;
  transform: translateY(-2px);
}

@media (max-width: 360px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  .link {
    padding: 10px;
    font-size: 12px;
  }
}
